h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat";
}

body{
    text-align: center;
}

p {
    color: #8f8f8f
}


/* Headings */

.bigHeading {
    font-family: 'Montserrat-Black';
    font-size: 3rem;
    line-height: 1.5;
}

.section-heading {
    font-family: 'Montserrat-Bold';
    font-size: 3rem;
    line-height: 1.5;
}

.feature-heading {
    font-family: 'Montserrat-Bold';
    font-size: 1.5rem;
}

.container-fluid{
    padding: 3% 15% 7%;
}


/* Navigation Bar */

.navbar {
    padding: 0 0 4.5rem;
}

.nav-item {
    padding: 0 18px
}

.nav-link {
    font-size: 1.2rem;
    font-family: 'Montserrat-Light';
}

.navbar-brand {  /* styles the title */
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
}


/* Download buttons */

.download-button {
    margin: 5% 3% 5% 0
}


/* Title Image */

#title {
    text-align: left;
}

.title-image {
    width: 50%;
    transform: rotate(25deg);  /* changes the roation of the viewport of the class*/
    margin-left: 4.5rem;
    margin-bottom: -15.5rem;
}


/* Features */

#features {
    padding: 7% 15%;
    position: relative;
    z-index: 1; /* bringing featured on top of title-image */
}

.feature-box {
    padding: 5%
}

.icon {
    color: #ef8172;
    margin-bottom: 1rem
}

.icon:hover {
    color: #ff4c68
}


/* Title */

#title {
    text-align: left;
}


/* Testimonials */

#testimonials {
    text-align: center;
    background-color: #ef8172;   /*id has a higher precedence, so it will override the .color class for background color*/
}

.testimonial-image {
    width: 10%;
    margin: 20px;
    border-radius: 100%;  /*making it a circle*/
}

.carousel-item {
    padding: 7% 15%;
}


/* Press */

#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.presImg {
    width: 15%;
    margin: 20px 20px 50px
}


/* Pricing */

#pricing {
    padding: 100px;
}

.price-heading {
    font-family: 'Montserrat-Bold';
    font-size: 3rem;
    line-height: 1.5;
}

.pricing-column {
    padding: 3% 2%
}


/* Call to action */

#cta {
    padding: 7% 15%;
}


/* Footer */

#footer {
    padding: 5% 5%;
}

.social {
    margin: 5px;
}


/* Sections */

.colored {
    background-color: #ff4c68;
    color: white;
}

.white {
    background-color: white;
    color: black;
}



/* changing behavior on tablets and mobiles */
@media(max-width: 1028px){
    .title-image {
        position: static;
        transform: rotate(0);
        margin-bottom: 0;
        margin-left: 0;
    }

    #title {
        text-align: center;
    }
}